*{
    margin: 0 auto;
    padding: 0;
    color: #0000;
    font-family: 'Franklin Gothic Medium';
    list-style: none;
    font-weight: 100;
}
.main{
    width: 50%;
    /* margin: 0px auto; */
    float: left;
    margin: 40px 25%;
    border: 1px solid;
    padding: 10px;
    background-color: #ffff;
}
body{
    background-color: #33333;
}
.wrapper{
    width: 100%;
    /* max-width: 1120px; */
}
.row1{
    width: 100%;
    height: 150px;
    background-color: #000000;
}
.row2,.row3{
    float: left;
}
.row3{
    margin-top: 20px;
}
.row3 h2{
    margin-top: 15px;
}
.row3 li{
    text-align: center;
}
.row3 p, .row3 li{
    margin-top: 10px;
    font-size: 17px;
    list-style: none;

}
td{
    border: 1px solid #000000;
}
.row1_inner{
    width: 100%;
    float: left;
}
.row1_inner img{
    border-radius: 5%;
}
.box{
    width: 50%;
}
/* .print{
    display: inline-block;
} */

button{
    padding: 10px 20px;
    background-color: #fff;
    color: #000 !important;
    font-size: 19px;
    cursor: pointer;
    margin-top: 15px;
}
#skills{
    display: none;

}
#skills li{
    font-size: 18px;
    margin: 15px 0px 0px 20px;
    list-style:circle;

}
@media only screen and (max-width: 600px) {
    .main{
        width: 70%;
        margin: 40px 15%;
    }
    *{
        font-weight: 300;
    }
    .row1 h3{
        font-size: 25px !important;
    }
  }
